

<h2 mat-dialog-title>{{description}}</h2>


<mat-form-field>

    <div>
        <label>Liste des dossiers:</label>
        <select class="form-control" *ngIf="listedoss" (change)="onChange($event.target.value)">
            <option *ngFor="let doss of listedoss" [value]="doss.etat_doss_pk.num_doss" >
                Dossier numéro {{doss.etat_doss_pk.num_doss}}
            </option>
            <option value=" ">
                    Dossier numéro 
            </option>
           
        </select>
    </div>
    <div *ngIf="showInfos" class="col-md-4 mb-3">
        <table class="container">
            <thead>
            <th>Bureau  </th>
            <th>Numero </th>
            <th>Année </th>
            </thead>
            <tr  *ngFor="let doss of listedoss">
            <td>{{doss.etat_doss_pk.code_br}}</td>
            <td>{{doss.etat_doss_pk.num_doss}}</td>
            <td>{{doss.etat_doss_pk.annee_doss}}</td>
            </tr>

        </table>
    </div>

</mat-form-field>


<mat-dialog-actions>
<button class="mat-raised-button"(click)="onNoClick()">Fermer</button>
<button class="mat-raised-button mat-primary"(click)="onClick()">Selectionner</button>
</mat-dialog-actions>



