

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title"> Parametrage Application</h4>
                        <p class="card-category"></p>
                    </div>
                    <br>

                    <button mat-raised-button type="submit" class="btn-dark" routerLink="/tribunal">Mettre a jour tribunal</button>
                    <div class="clearfix"></div>
                    <br>
                    <button mat-raised-button type="submit" class="btn-dark" routerLink="/huiss">Mettre a jour huissier </button>
                    <div class="clearfix"></div>
                    <br>
                    <button mat-raised-button type="submit" class="btn-dark" >Gestion Privvillege</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>
</div>


