<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Interface paiement </h4>
                        <p class="card-category"></p>
                    </div>
                    <br>


                    <button mat-raised-button type="submit" class="btn-dark" routerLink="/arrerage">Arrerage</button>
                    <div class="clearfix"></div>
                    <br>
                    <button mat-raised-button type="button" class="btn-dark"routerLink="/opp">Generer ordre paiement</button>
                    <div class="clearfix"></div>
                    <br>
            </div>
        </div>

    </div>
</div>


</div>
