

<div class="d-flex justify-content-center align-items-center container ">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="mb-3" style-color="red">Valider Dossier juridique</h4>
              <p class="card-category"></p>
            </div>
            <br><br>

            <form class="form-group"  >

              <ul class="list-group">
                  <li class="card-header card-header-danger"><B>Assuré</B></li>
                <li class="list-group-item">




                    <div class="row">
                    <div class="col-md-4 mb-3">
                      <label >Caisse</label>
                      <select class="custom-select d-block w-100"  required>
                        <option value="">CNSS</option>
                        <option >CNRPS</option>
                      </select></div>


                    <div class="col-md-4 mb-3">
                      <label >Matricule</label>
                      <input type="text" class="d-lg-table-row"id="matr" name="matr" [(ngModel)]="form.matr" #matr="ngModel"/>

                    </div>


                    <div class="col-md-4 mb-3">
                      <label >Cle</label>
                      <input type="text" class="d-lg-table-row"id="cle" (keyup.enter) = onSubmit1() name="cle" [(ngModel)]="form.cle" #cle="ngModel"/>

                    </div>



                  </div>
                  <div class="d-flex justify-content-center align-items-center container ">

                    <button class=" btn btn-danger" (click)="openDialog()">Réference Dossier</button>

                  </div>

                  <div class="row" >
                    <div class="col-md-12 mb-3">
                      <label for="Nom">Nom</label>
                      <input type="text" class="form-control"  id="Nom" placeholder="" disabled="true"required >
                    </div>
                    <div class="col-md-12 mb-3">
                      <label for="prenom">Prénom</label>
                      <input type="text"  class="form-control" id="prenom" placeholder="" disabled="true" required >

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4 mb-3">
                      <label for="date-naiss">Date-Naissance </label>
                      <input type="text"  class="form-control" id="date-naiss"  disabled="true" placeholder=" jj //mm //Ann ">
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="nas">Nationnalite</label>
                      <select class="custom-select d-block w-100" id="nas" required>
                        <option >Tunisiene </option>
                        <option value="">Algériene </option>
                        <option value="">Libiene </option>
                        <option>Marocainne </option>
                        <option>Eygept </option>

                      </select>
                    </div>

                    <div class="col-md-4 mb-3">
                      <label for="state">Etat</label>
                      <select class="custom-select d-block w-100" id="state"  required>
                        <option value="etat" disabled="true">Célibataire</option>
                        <option >Mariée</option>
                        <option>Divorcé</option>
                        <option>Veuf</option>
                      </select>

                    </div>
                    <div class="invalid-feedback">
                      SVP vérifier votre Nationnalité
                    </div>

                  </div>


                  <div class="row">
                    <div class="col-md-4 mb-3">
                      <label for="numcin">N° CIN </label>
                      <input type="text" class="form-control" id="numcin" disabled="true" placeholder="01234567">
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="L">lieu </label>
                      <input type="text" class="form-control" id="L"disabled="true"  placeholder=" ">
                    </div>

                    <div class="col-md-4 mb-3">
                      <label for="Dd">Date de délivrance </label>
                      <input type="text"  class="form-control" id="Dd"disabled="true" placeholder=" jj //mm //Ann ">
                    </div>

                    <div class="invalid-feedback">
                      SVP vérifier votre num CIN
                    </div>



                  </div>




                  <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text"   class="form-control" id="address"disabled="true" placeholder=" " required>
                  </div>
                  <div class="row">
                    <div class="col-md-2 mb-3">
                      <label for="p">Pays </label>
                      <input type="text" class="form-control" id="p"   disabled="true" placeholder="" >
                    </div>

                    <div class="col-md-2 mb-3">
                      <label for="loc">Localité</label>
                      <input type="text" class="form-control" id="loc"   disabled="true"  placeholder="" >
                    </div>

                    <div class="col-md-2 mb-3">
                      <label for="cit">Cité </label>
                      <input type="text" class="form-control" id="cit" placeholder="" >
                    </div>

                    <div class="col-md-2 mb-3">
                      <label for="cit">code_postale </label>
                      <input type="text" class="form-control" id="codp" placeholder="" >
                    </div>
                  </div>



                </li></ul>



              <ul class="list-group">
                  <li class="card-header card-header-danger"><B>Dossier Médical</B></li>
                <li class="list-group-item">
                  <div class="row" >
                    <div class="col-md-6 mb-3">
                      <label for="tydec">Type Déclaration </label>
                      <input type="text"  class="form-control" id="tydec" disabled="true"  placeholder=" ">
                    </div>

                    <div class="col-md-6 mb-3">
                      <label for="com-med">Code.Com.Med </label>
                      <input type="text"  class="form-control" id="com-med" disabled="true" value="{{code_com_med}}"placeholder="  ">
                    </div>

                    <div class="row">
                      <div class="col-md-4 mb-3">
                        <label for="date_acc">Date-Accident </label>
                        <input type="text"  class="form-control" id="date_acc" disabled="true"  value="{{date_accident}}" placeholder=" jj //mm //Ann" name="date_acc" [(ngModel)]="form.date_acc" #date_acc="ngModel" >
                      </div>

                      <div class="col-md-4 mb-3">
                        <label for="heure_acc">Heure </label>
                        <input type="text"  class="form-control" id="heure_acc"disabled="true"   name="heure_acc" [(ngModel)]="form.heure_acc" #heure_acc="ngModel"/>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label for="date_Acc_sai">Date Saisie dos </label>
                        <input type="text"  class="form-control" id="date_Acc_sai"disabled="true" name="date_Acc_sai" [(ngModel)]="form.date_Acc_sai" #date_Acc_sai="ngModel"/>
                      </div>

                    </div>



                  </div>



                </li></ul>

              <ul class="list-group">
                  <li class="card-header card-header-danger"><B>Employeur</B></li>
                <li class="list-group-item">
                  <div class="row" >
                    <div class="col-md-6 mb-3">
                      <label for="emp_Cle">emp cle </label>
                      <input type="text"  class="form-control" id="emp_Cle"disabled="true"   [(ngModel)]="form.emp_Cle" #emp_Cle="ngModel"/>
                    </div>

                    <div class="col-md-6 mb-3">
                      <label for="emp_Mat">emp matricule </label>
                      <input type="text"  class="form-control" id="emp_Mat"disabled="true"  [(ngModel)]="form.emp_Mat" #emp_Mat="ngModel"/>
                    </div>


                  </div></li></ul>




              <ul class="list-group">
                  <li class="card-header card-header-danger"><B>Jugement</B></li>
                <li class="list-group-item">
                  <div class="row" >
                    <div class="col-md-4 mb-3">
                      <label for="date_jug">Date de jugement </label>
                      <input type="text"  class="form-control" id="date_jug"   name="date_jug" [(ngModel)]="form.date_jug" #date_jug="ngModel"/>
                    </div>


                    <div class="col-md-4 mb-3">
                      <label for="N_jug">N° jugement </label>
                      <input type="text"  class="form-control"   id="N_jug" placeholder=" " name="N_jug" [(ngModel)]="form.N_jug" #N_jug="ngModel"/>
                    </div>

                    <div class="col-md-4 mb-3">
                      <label for="trub">Tribunale</label>
                      <select class="custom-select d-block w-100" id="trub" required>
                        <option value=1>Tribunal de première instance de Tunis</option>
                        <option value=2>Tribunal de première instance Tunis2 </option>
                        <option value=3>Tribunal de première instance de l'Ariana</option>
                        <option value=4>Tribunal de première instance de Ben Arous</option>
                        <option value=5> Tribunal de première instance de Manouba</option>
                        <option value=6>Tribunal de première instance de Bizerte </option>
                        <option value=7>Tribunal de première instance de Béja </option>
                        <option value=8>Tribunal de première instance du Kef </option>
                        <option value=9>Tribunal de première instance de Jendouba  </option>
                        <option>Tribunal de première instance de Siliana  </option>
                        <option>Tribunal de première instance du Kasserine  </option>
                        <option>Tribunal de première instance de Gafsa </option>
                        <option>Tribunal de première instance du Tozeur  </option>
                        <option>Tribunal de première instance de Sidi Bouzid  </option>
                      </select>

                    </div>



                    <div class="row">



                      <div class="col-md-4 mb-3">
                        <label >code</label>
                        <input type="text" class="form-control"id="huis_code" name="huis_code" [(ngModel)]="form.huis_code" #huis_code="ngModel"/>

                      </div>


                      <div class="col-md-4 mb-3">
                        <label >Cle</label>
                        <input type="text" class="form-control"id="huis_cle" (keyup.enter) = huisData() name="huis_cle" [(ngModel)]="form.huis_cle" #huis_cle="ngModel"/>

                      </div>



                    </div>

                  </div>
                  <div class="row" >
                    <div class="col-md-4 mb-3">
                      <label for="nom.huis">Nom.Huiss </label>
                      <input type="text"  class="form-control" id="nom.huis"disabled="true" placeholder="  ">
                    </div>

                    <div class="col-md-4 mb-3">
                      <label for="pre.huis">Prénom.Huiss </label>
                      <input type="text"  class="form-control" id="pre.huis"disabled="true"  placeholder=" ">
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col-md-10 mb-3">
                      <label for="addres">Adresse </label>
                      <input type="text"  class="form-control"disabled="true"  id="addres" placeholder=" ">
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col-md-10 mb-3">
                      <label for="mail">E-mail </label>
                      <input type="text"  class="form-control" id="mail"disabled="true" value="{{eMail}}" placeholder=" @ ">
                    </div></div>

                  <div class="row" >
                    <div class="col-md-4 mb-3">
                      <label for="fax">Fax </label>
                      <input type="text"  class="form-control"disabled="true" value="{{fax}}" id="fax" placeholder=" ">
                    </div>


                    <div class="col-md-4 mb-3">
                      <label for="rib">RIB </label>
                      <input type="text"  class="form-control"disabled="true" value="{{rib}}" id="rib" placeholder=" ">
                    </div>


                    <div class="col-md-4 mb-3">
                      <label for="tel">tel </label>
                      <input type="text"  class="form-control"disabled="true" value="{{tel}}" id="tel" placeholder=" ">
                    </div>
                  </div>











                  <div class="row">
                    <div class="col-md-4 mb-3">
                      <label for="date-depo">Date dépot</label>
                      <input type="text"  class="form-control" id="date-depo" placeholder=" ">
                    </div>

                    <div class="col-md-4 mb-3">
                      <label for="date-arrv">Date arrivé</label>
                      <input type="text"  class="form-control" id="date-arrv" placeholder=" ">
                    </div>
                  </div>
                </li></ul>
              <br><br><br>

              <div class="text-center">
                <button type="submit"(click)="save_dossier()" class=" btn btn-danger"> Enregistrer les données</button>
              </div>

            </form>

            <div class="text-center">
              <button (click)="navigate()" class=" btn btn-danger">Retour</button>
            </div>












          </div>
        </div>
      </div>
    </div>
  </div>

</div>

