<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">


        <h3>

            <span> <b> Aplication De gestion Des Dossiers Judiciaire De Rente </b>  </span>

        </h3>
<div class="form-group">
            <button  class="material-icons"(click)="logout()">person</button>
      <p><b> Déconnexion </b></p>
</div>
    </div>
</nav>
