
<html lang="en">

<head>


    <title></title>
</head>

<body class="text-center">


<div class="d-flex justify-content-center align-items-center container ">
    <div class="card-chart">

        <div class="card">
            <div class="center-block">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Application ATMP</h4>
                    <p class="card-category"></p>
                </div>

                <div class="card-body table-responsive">

                    <section class="jumbotron text-center ">
                        <div [hidden]="submitted">








                            <div class="d-flex justify-content-center align-items-center container ">
                                <div class="row ">
                                    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                                        <div class=col-md-offset-5>
                                            <label for="login">Matricule CNAM</label>
                                            <input type="text" class="form-control"id="login" name="login" [(ngModel)]="form.login" #login="ngModel" [ngClass]="{'is-invalid': f.submitted && login.invalid}"
                                                   required login />
                                            <div *ngIf="f.submitted && login.invalid" class="invalid-feedback">
                                                <div *ngIf="login.errors.required">>> required</div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label for= "Password" class="control-label">Mot De Passe</label>


                                            <input type="password" class="form-control"id="password" name="password" [(ngModel)]="form.password" #password="ngModel"
                                                   [ngClass]="{'is-invalid':f.submitted && password.invalid}" required minlength="6" />
                                            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                                                <div *ngIf="password.errors.required">>> required</div>
                                                <div *ngIf="password.errors.minlength">>> must be at least 6 characters</div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                                            <div class="row">

                                                <button mat-raised-button class="btn btn-warning " type="submit"> Connecter</button>
                                            </div>



                                        </div>


                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
