

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Interface Generer Ordre Paiement </h4>
            <p class="card-category"></p>
          </div>
          <br>

          <button mat-raised-button type="button" class="btn-dark" >Ordre Paiement Capital </button>
          <div class="clearfix"></div>


            <br>

          <button mat-raised-button type="button" class="btn-dark">Ordre Paiement Arrerage</button>
          <div class="clearfix"></div>

<br>
        <button mat-raised-button type="button" class="btn-dark">Ordre Paiement Rente</button>
        <div class="clearfix"></div>

      </div>
      </div>

    </div>
  </div>
</div>



