<div class="d-flex justify-content-center align-items-center container ">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="mb-3" style-color="red" >Modifier Dossier juridique</h4>
                            <p class="card-category"></p>
                        </div>
                        <br><br>

                        <div class="card-body">
                            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>


                                <ul class="list-group">
                                    <li class="card-header card-header-danger"><B>Assuré</B></li>
                                    <li class="list-group-item">







                                        <div class="row">
                                            <div class="col-md-4 mb-3">
                                                <label >Caisse</label>
                                                <select class="custom-select d-block w-100"  required>
                                                    <option>CNSS</option>

                                                </select></div>


                                            <div class="col-md-4 mb-3">
                                                <label >Matricule</label>
                                                <input type="text" class="d-lg-table-row" id="matr" name="matr" [(ngModel)]="form.matr" #matr="ngModel"/>

                                            </div>

                                            <div class="col-md-4 mb-3">
                                                <label >Cle</label>
                                                <input type="text" class="d-lg-table-row" id="cle"  name="cle"(keyup.enter) = chargement() name="cle" [(ngModel)]="form.cle" #cle="ngModel"/>

                                            </div>



                                        </div>


                                        <div class="d-flex justify-content-center align-items-center container ">


                                        <button class=" btn btn-danger"  (click)="openDialog()">Réference Dossier</button>
</div>
 
         <div class="row">        
 
<div class="col-md-4 mb-3">
    <label >Bureau</label>
    <input type="text" class="d-lg-table-row"id="code_br"  name="code_br" [(ngModel)]="form.code_br" #code_br="ngModel"/>

</div>

<div class="col-md-4 mb-3">
    <label >num</label>
    <input type="text" class="d-lg-table-row" id="num_dial_modif" name="num_dial_modif" [(ngModel)]="form.num_dial_modif" value={{num_dial_modif}}  #num_dial_modif="ngModel"/>

</div>
<div class="col-md-4 mb-3">
    <label >Anne</label>
    <input type="text" class="d-lg-table-row"id="annee_doss" (keyup.enter) = chargement() name="annee_doss" [(ngModel)]="form.annee_doss" #annee_doss="ngModel"/>

</div>






         </div>

                        <div class="row" >
                                <div class="col-md-12 mb-3">
                                    <label for="Nom">Nom</label>
                                    <input type="text" class="form-control"  id="Nom" placeholder="" disabled="true"value="{{nom}}" required >
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="prenom">Prénom</label>
                                    <input type="text"  class="form-control" id="prenom" placeholder="" disabled="true"value="{{prenom}}" required >
    
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="date-naiss">Date-Naissance </label>
                                    <input type="text"  class="form-control" id="date-naiss" value="{{datenaiss}}" disabled="true" placeholder=" jj //mm //Ann ">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="nas">Nationnalite</label>
                                    <select class="custom-select d-block w-100" id="nas" value="Nationalite"required>
                                        <option >Tunisiene </option>
                                        <option >Algériene </option>
                                        <option >Libiene </option>
                                        <option >Marocainne </option>
                                        <option >Eygept </option>
    
                                    </select>
                                </div>
    
                                <div class="col-md-4 mb-3">
                                    <label for="state">Etat</label>
                                    <select class="custom-select d-block w-100" id="state"value="etat"  required>
                                        <option >Célibataire</option>
                                        <option >Mariée</option>
                                        <option>Divorcé</option>
                                        <option>Veuf</option>
                                    </select>
    
                                </div>
                                <div class="invalid-feedback">
                                    SVP vérifier votre Nationnalité
                                </div>
    
                            </div>
    
    
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="numcin">N° CIN </label>
                                    <input type="text" class="form-control" id="numcin" disabled="true" value="{{numero_cin}}"placeholder="01234567">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="L">Lieu </label>
                                    <input type="text" class="form-control" id="L"disabled="true" value="{{lieu}}" placeholder=" ">
                                </div>
    
                                <div class="col-md-4 mb-3">
                                    <label for="Dd">Date de délivrance </label>
                                    <input type="text"  class="form-control" id="Dd"disabled="true" value="{{datelivraison}}"placeholder=" jj //mm //Ann ">
                                </div>
    
                                <div class="invalid-feedback">
                                    SVP vérifier votre num CIN
                                </div>
    
    
    
                            </div>
    
    
    
    
                            <div class="mb-3">
                                <label for="address">Address</label>
                                <input type="text"   class="form-control" id="address"disabled="true" value="{{adresse}}"placeholder=" " required>
                            </div>
                            <div class="row">
                                <div class="col-md-2 mb-3">
                                    <label for="p">Pays </label>
                                    <input type="text" class="form-control" id="p" value="{{pays}}"  disabled="true" placeholder="" >
                                </div>
    
                                <div class="col-md-2 mb-3">
                                    <label for="loc">Localité</label>
                                    <input type="text" class="form-control" id="loc"   disabled="true" value="{{localite}}" placeholder="" >
                                </div>
    
                                <div class="col-md-2 mb-3">
                                    <label for="cit">Cité </label>
                                    <input type="text" class="form-control" id="cit"value="{{cite}}" placeholder="" >
                                </div>
    
                                <div class="col-md-2 mb-3">
                                    <label for="cit">Code_postale </label>
                                    <input type="text" class="form-control" id="codp"value="{{code_postale}}" placeholder="" >
                                </div>
                            </div>
                        </li></ul>
                    <ul class="list-group">
                        <li class="card-header card-header-danger"><B>Dossier Médical</B></li>
                        <li class="list-group-item">
                            <div class="row" >
                                <div class="col-md-6 mb-3">
                                    <label for="tydec">Type Déclaration </label>
                                    <input type="text"  class="form-control" id="tydec" disabled="true" value="{{Type_Declaration}}" placeholder=" ">
                                </div>
    
                                <div class="col-md-6 mb-3">
                                    <label for="com-med">Code.Com.Med </label>
                                    <input type="text"  class="form-control" id="com-med" disabled="true" value="{{code_com_med}}"placeholder="  ">
                                </div>
    
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <label for="date_acc">Date-Accident </label>
                                        <input type="text"  class="form-control" id="date_acc" disabled="true"  value="{{date_accident}}" placeholder=" jj //mm //Ann" name="date_acc"  >
                                    </div>
    
                                    <div class="col-md-4 mb-3">
                                        <label >Heure </label>
                                        <input type="text"  class="form-control" id="heure"   value="{{heure}}"name="heure" [(ngModel)]="form.heure" #heure="ngModel" >
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="dec_date_saisie">Date Saisie dos </label>
                                        <input type="text"  class="form-control" id="dec_date_saisie" value="{{date_Acc_sai}}"   >
                                    </div>
    
                                </div>
    
    
    
                            </div>
    
    
    
                        </li></ul>
    
                    <ul class="list-group">
                        <li class="card-header card-header-danger"><B>Employeur</B></li>
                        <li class="list-group-item">
                            <div class="row" >
    
    
                                <div class="col-md-6 mb-3">
                                    <label > Matricule </label>
                                    <input type="text"  class="form-control" id="emp_Matr"disabled="true" value="{{empMat}}"   >
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="emp_Cle"> Cle </label>
                                    <input type="text"  class="form-control" id="emp_Cle"disabled="true" value="{{empCle}}">
                                </div>
    
                            </div></li></ul>
    
    
    
    
                    <ul class="list-group">
                        <li class="card-header card-header-danger"><B>Jugement</B></li>
                        <li class="list-group-item">
                            <div class="row" >
                                <div class="col-md-4 mb-3">
                                    <label for="date_jug">Date de jugement </label>
                                    <input type="text"  class="form-control" id="date_jug"  value="{{date_juge_string}}"  />
                                </div>
    
    
                                <div class="col-md-4 mb-3">
                                    <label for="N_jug" >N° jugement </label>
                                    <input type="text"  class="form-control"   id="N_jug" placeholder=" " name="N_jug" value="{{N_jug}}" />
                                </div>
    
                                <div class="col-md-4 mb-3">
                                    <label for="trub">Tribunale</label>
                                    <select class="custom-select d-block w-100" id="trub" required>
                                        <option value="{{trub}}" >Tribunal de première instance de Tunis</option>
                                        <option value=2>Tribunal de première instance Tunis2 </option>
                                        <option value=3>Tribunal de première instance de l'Ariana</option>
                                        <option value=4>Tribunal de première instance de Ben Arous</option>
                                        <option value=5> Tribunal de première instance de Manouba</option>
                                        <option value=6>Tribunal de première instance de Bizerte </option>
                                        <option value=7>Tribunal de première instance de Béja </option>
                                        <option value=8>Tribunal de première instance du Kef </option>
                                        <option value=9>Tribunal de première instance de Jendouba  </option>
                                        <option  value=10>Tribunal de première instance de Siliana  </option>
                                        <option value=11 >Tribunal de première instance du Kasserine  </option>
                                        <option>Tribunal de première instance de Gafsa </option>
                                        <option>Tribunal de première instance du Tozeur  </option>
                                        <option>Tribunal de première instance de Sidi Bouzid  </option>
                                    </select>
    
                                </div>
    
    
    
                                <div class="row">
    
    
    
                                    <div class="col-md-4 mb-3">
                                        <label >Code Huiss</label>
                                        <input type="text" class="d-lg-table-row"id="huis_code" name="huis_code" [(ngModel)]="form.huis_code" #huis_code="ngModel"/>
    
                                    </div>
    
    
                                    <div class="col-md-4 mb-3">
                                        <label >Cle Huiss</label>
                                        <input type="text" class="d-lg-table-row"id="huis_cle" (keyup.enter) = huisData() name="huis_cle" [(ngModel)]="form.huis_cle" #huis_cle="ngModel"/>
    
                                    </div>
    
    
    
                                </div>
    
                            </div>
                            <div class="row" >
                                <div class="col-md-4 mb-3">
                                    <label for="nom.huis">Nom.Huiss </label>
                                    <input type="text"  class="form-control" id="nom.huis"disabled="true" value="{{nomhuis}}" placeholder="  ">
                                </div>
    
                                <div class="col-md-4 mb-3">
                                    <label for="pre.huis">Prénom.Huiss </label>
                                    <input type="text"  class="form-control" id="pre.huis"disabled="true" value="{{prenomhuis}}" placeholder=" ">
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-md-10 mb-3">
                                    <label for="addres">Adresse </label>
                                    <input type="text"  class="form-control"disabled="true" value="{{adressehuis}}" id="addres" placeholder=" ">
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-md-10 mb-3">
                                    <label for="mail">E-mail </label>
                                    <input type="text"  class="form-control" id="mail"disabled="true" value="{{eMail}}" placeholder=" @ ">
                                </div></div>
    
                            <div class="row" >
                                <div class="col-md-4 mb-3">
                                    <label for="fax">Fax </label>
                                    <input type="text"  class="form-control"disabled="true" value="{{fax}}" id="fax" placeholder=" ">
                                </div>
    
    
                                <div class="col-md-4 mb-3">
                                    <label for="rib">RIB </label>
                                    <input type="text"  class="form-control"disabled="true" value="{{rib}}" id="rib" placeholder=" ">
                                </div>
    
    
                                <div class="col-md-4 mb-3">
                                    <label for="tel">Tel </label>
                                    <input type="text"  class="form-control"disabled="true" value="{{tel}}" id="tel" placeholder=" ">
                                </div>
                            </div>
    
    
    
    
    
    
    
    
    
    
    
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="date-depo">Date dépot</label>
                                    <input type="date"  class="form-control" id="date-depo" placeholder=" ">
                                </div>
    
                                <div class="col-md-4 mb-3">
                                    <label for="date-arrv">Date arrivé</label>
                                    <input type="date"  class="form-control" id="date-arrv" placeholder=" ">
                                </div>
    
                            </div>
    
    
    
                        </li></ul>
    
    
    
                    <br><br><br>
    
                    <div class="text-center">
                        <button type="button"(click)="enregistrer()" class="btn btn-danger"> Enregistrer les données</button>
                    </div>
                    <div class="text-center">
                        <button (click)="navigate()" class=" btn btn-danger">Retour</button>
                    </div>      

                            </form>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
