
<div class="d-flex justify-content-center align-items-center container ">

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="mb-3" style-color="red" >Mettre a Jour Huissier</h4>
            <p class="card-category"></p>
          </div>
          <br><br>
          <div class="card-body">


            <form>

              <li class="list-group-item">
                <div class="row" >
                  <div class="col-md-6 mb-3">
                    <label >code </label>
                    <input type="text"  class="d-lg-table-row" id="codeh" name="code" [(ngModel)]="huis.code" placeholder=" ">
                  </div>

                  <div class="col-md-6 mb-3">
                    <label >cle </label>
                    <input type="text"  class="d-lg-table-row" name="cle" [(ngModel)]="huis.cle" id="cle"placeholder="  ">
                  </div>

                  <div class="row">
                    <div class="col-md-4 mb-3">
                      <label>nom </label>
                      <input type="text"   [(ngModel)]="huis.nom" name="nom" class="form-control" id="nom" >
                    </div>

                    <div class="col-md-4 mb-3">
                      <label >prenom </label>
                      <input type="text"  [(ngModel)]="huis.prenom" name="prenom" class="form-control" id="prenom" >
                    </div>
                    <div class="col-md-4 mb-3">
                      <label >e_mail</label>
                      <input type="text"  [(ngModel)]="huis.eMail" name="eMail" class="form-control" id="e_mail"    >
                    </div>

                  </div>



                </div>


                <div class="row">
                  <div class="col-md-4 mb-3">
                    <label>Tel </label>
                    <input type="text"  [(ngModel)]="huis.tel" name="tel" class="form-control" id="Tel"   >
                  </div>

                  <div class="col-md-4 mb-3">
                    <label >Rib </label>
                    <input type="text"  [(ngModel)]="huis.rib" name="rib" class="form-control" id="Rib" >
                  </div>
                  <div class="col-md-4 mb-3">
                    <label >Fax</label>
                    <input type="text"  [(ngModel)]="huis.fax" name="fax" class="form-control" id="Fax"    >
                  </div>



</div>

                <div class="col-md-4 mb-3">
                  <label >Num_pat</label>
                  <input type="text"  [(ngModel)]="huis.num_pat" name="num_pat" class="form-control" id="num_pat"    >
                </div>


<br><br>
              <div class="text-center">
                <button type="button"(click)="saveHuiss(huis)" class="btn btn-danger"> Ajouter</button>
              </div>




              <div class="text-center">
                <button type="button" class=" btn btn-danger">Supprimer</button>
              </div>
            </form></div></div></div></div></div></div>
</div>
