<div class="d-flex justify-content-center align-items-center container ">
        <div class="main-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="mb-3" style-color="red" >Saisie Dossier juridique</h4>
                  <p class="card-category"></p>
                </div>
        <br><br>
        
                <div class="card-body">
                    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        
        
                        <ul class="list-group">
                            <li class="card-header card-header-danger"><B>Reference Dossier</B></li>
                            <li class="list-group-item">
        
        
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <label >Bureau</label>
                                        <input type="text" class="d-lg-table-row"id="matr"  name="matr" [(ngModel)]="form.matr" #matr="ngModel"/>

                                        </div>
        
        
                                    <div class="col-md-4 mb-3">
                                        <label >Numero Dossier</label>
                                        <input type="text" class="d-lg-table-row"id="matr"  name="matr" [(ngModel)]="form.matr" #matr="ngModel"/>
        
                                    </div>
        
        
                                    <div class="col-md-4 mb-3">
                                        <label >Anne Dossier</label>
                                        <input type="text" class="d-lg-table-row"id="cle" (keyup.enter) = onSubmit1() name="cle" [(ngModel)]="form.cle" #cle="ngModel"/>
        
                                    </div>
        
        
        
                                </div>

                                <ul class="list-group">
                                        <li class="card-header card-header-danger"><B> Assuré</B></li>
                                        <li class="list-group-item">
                    
        
                                <div class="row" >
                                        
                                    <div class="col-md-12 mb-3">
                                        <label for="Nom">Nom</label>
                                        <input type="text" class="form-control"  id="Nom" placeholder="" disabled="true"value="{{nom}}" required >
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label for="prenom">Prénom</label>
                                        <input type="text"  class="form-control" id="prenom" placeholder="" disabled="true"value="{{prenom}}" required >
        
                                    </div>
                                    </div>
                                    </li></ul>
        
                                
        
        
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <label for="numcin">N° CIN </label>
                                        <input type="text" class="form-control" id="numcin" disabled="true" value="{{numero_cin}}"placeholder="01234567">
                                    </div>
                                    
        
                                   <div class="mb-3">
                                    <label for="address">Address</label>
                                    <input type="text"   class="form-control" id="address"disabled="true" value="{{adresse}}"placeholder=" " required>
                                </div>
        
        
        
                                </div>
        
        
        
        
                                
                        
        
                                 
                              
                            </li></ul>
                        <ul class="list-group">
                            <li class="card-header card-header-danger"><B>Detail Dossier</B></li>
                            <li class="list-group-item">
                                <div class="row" >
                                    <div class="col-md-6 mb-3">
                                        <label for="tydec">Date Accident </label>
                                        <input type="text"  class="form-control" id="date_acc" disabled="true" value="{{Type_Declaration}}" placeholder=" ">
                                    </div>
        
                                    <div class="col-md-6 mb-3">
                                        <label for="com-med">Taux IPP </label>
                                        <input type="text"  class="form-control" id="com-med" disabled="true" value="{{code_com_med}}"placeholder="  ">
                                    </div>
        
                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <label for="date_acc">Fréquence Payement </label>
                                            <input type="text"  class="form-control" id="date_acc" disabled="true"  value="{{date_accident}}" placeholder=" jj //mm //Ann" name="date_acc"  >
                                        </div>
        
                                       
        
                                    </div>
        
        
        
                                </div>
        
        
        
                            </li></ul>
        
                        <ul class="list-group">
                            <li class="card-header card-header-danger"><B>Detail Calcul </B></li>
                            <li class="list-group-item">
                                <div class="row" >
        
        
                                    <div class="col-md-4 mb-3">
                                        <label > Date Debut </label>
                                        <input type="text"  class="form-control" id="emp_Matr"disabled="true" value="{{empMat}}"   >
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="emp_Cle"> Date Fin </label>
                                        <input type="text"  class="form-control" id="emp_Cle"disabled="true" value="{{empCle}}">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                            <label for="emp_Cle"> Nombre De Jour </label>
                                            <input type="text"  class="form-control" id="emp_Cle"disabled="true" value="{{empCle}}">
                                        </div>

            
                                </div></li></ul>
        
        <div class="row">

               <div class="col-md-4 mb-3">
                <label for="emp_Cle">  Rente Annuelle </label>
                <input type="text"  class="form-control" id="emp_Cle"disabled="true" value="{{empCle}}">
            </div>

            <div class="col-md-4 mb-3">
                    <label for="emp_Cle">  Rente Journaliére </label>
                    <input type="text"  class="form-control" id="emp_Cle"disabled="true" value="{{empCle}}">
                </div>


        </div>
        
        
        
        
        
        
        
                                  
        
        
        
        
        
        
        
            
          
        
                            
        
        
        
                        <br><br><br>
        
                        <div class="text-center">
                            <button type="button" class="btn btn-danger"> Arrerage</button>
                        </div>

                    </form>
                </div>
               
                </div>
        
                </div>
              </div>
            </div>
          </div>
        </div>
        