
<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="mb-3" style-color="red" >Mettre a Jour Tribunal</h4>
              <p class="card-category"></p>
            </div>
            <br><br>
            <div class="card-body">



<div class="row">
            <div class="col-md-4 mb-3">
              <label >Code</label>
              <input type="text" class="d-lg-table-row"id="codel" [(ngModel)]="code"/>

            </div>

            <div class=" col-md-4 mb-3">
              <label >Libelle</label>
              <input type="text" class="d-lg-table-row"id="clel" [(ngModel)]="libelle"/>

            </div>







                        </div>
  <div class="text-center">
      <button type="button"(click)="saveTribunal(code,libelle)" class="btn btn-success"> Ajouter</button>
  </div>





  <div>
    <h3>List des Tribunales</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">code</th>
          <th scope="col">libelle</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let tribunal of tribunals">
        <tr>
          <th scope="row">{{tribunal.code}}</th>
          <th scope="row">{{tribunal.libelle}}</th>
          <th><button type="button" class=" btn btn-sm btn-danger" (click)="removeTribunal(tribunal.code)">Supprimer</button></th>
        </tr>
      </tbody>
    </table>
  </div>
              </div></div></div></div></div></div>

