<div class="d-flex justify-content-center align-items-center container ">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="mb-3" style-color="red" >Valider Dossier liquidé</h4>
              <p class="card-category"></p>
            </div>
            <br><br>


            <form class="form-group">

              <ul class="list-group">
                <li class="card-header card-header-danger"><B>Assuré</B></li>
                <li class="list-group-item">
                  <div class="row" >
                    <div class="col-md-2 mb-3">
                      <label for="matr">Caisse</label>
                      <select class="custom-select d-block w-100" id="" required>
                        <option value="">CNSS</option>
                        <option >CNRPS</option>
                      </select></div>


                  <div class="col-md-4 mb-3">
                    <label >Matricule</label>
                    <input type="text" class="d-lg-table-row"id="matr" name="matr" [(ngModel)]="form.matr" #matr="ngModel"/>

                  </div>


                  <div class="col-md-4 mb-3">
                    <label >Cle</label>
                    <input type="text" class="d-lg-table-row"id="cle" (keyup.enter) = onSubmit1() name="cle" [(ngModel)]="form.cle" #cle="ngModel"/>

                  </div>



          </div>




          <div class="d-flex justify-content-center align-items-center container ">


            <button class=" btn btn-danger" (click)="openDialog()">Réference Dossier</button>
</div>





                  <div class="row" >
                    <div class="col-md-12 mb-3">
                      <label for="Nom">Nom</label>
                      <input type="text" class="form-control"  id="Nom" placeholder="" value="" required >
                    </div>
                    <div class="col-md-12 mb-3">
                      <label for="prenom">Prenom</label>
                      <input type="text"  class="form-control" id="prenom" placeholder="" value="" required >

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4 mb-3">
                      <label for="date-naiss">Date-Naissance </label>
                      <input type="text"  class="form-control" id="date-naiss" placeholder=" jj //mm //Ann ">
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="country">Nationnalité</label>
                      <select class="custom-select d-block w-100" id="country" required>
                        <option value="">Tunisie </option>
                        <option value="">Algérie </option>
                        <option value="">Libien </option>
                        <option value="">Maroc </option>
                        <option value="">Eygept </option>

                      </select>
                    </div>

                  </div>


                  <div class="row"></div>

                  <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text"   class="form-control" id="address" placeholder=" " required>
                  </div>
                  <div class="row">
                    <div class="col-md-4 mb-3">
                      <label for="date-acc">Date-Accident </label>
                      <input type="text"  class="form-control" id="date-acc" placeholder=" jj //mm //Ann ">
                    </div>

                    <div class="col-md-4 mb-3">
                      <label for="heure">Heure </label>
                      <input type="text"  class="form-control" id="heure" placeholder=" hh:mm ">
                    </div>


                    <div class="col-md-6 mb-3">
                      <label for="tydec">Type Déclaration </label>
                      <input type="text"  class="form-control" id="tydec" placeholder=" ">
                    </div>

                    <ul class="list-group">
                      <li class="card-header card-header-danger"><B>Salaire</B></li>
                      <li class="list-group-item">
                        <div class="row" >
                          <div class="col-md-6 mb-3">
                            <label for="datejuj">Date D'effet Juj </label>
                            <input type="text"  class="form-control" id="datejuj" placeholder="jj //mm //Ann  ">
                          </div>

                          <div class="col-md-6 mb-3">
                            <label for="FGV">Faute Grave Vict </label>
                            <input type="text"  class="form-control" id="FGV" placeholder="  ">
                          </div>

                          <div class="row">
                            <div class="col-md-4 mb-3">
                              <label for="ASS-TP">Asstierce TP </label>
                              <input type="text"  class="form-control" id="ASS-TP" placeholder="">
                            </div>

                            <div class="col-md-6 mb-3">
                              <label for="FGE">Faute Grave Emp </label>
                              <input type="text"  class="form-control" id="FGE" placeholder="  ">
                            </div>
                            <div class="col-md-6 mb-3">
                              <label for="TJ">Taux Juj</label>
                              <input type="text"  class="form-control" id="TJ" placeholder="  ">
                            </div>
                            <div class="col-md-6 mb-3">
                              <label for="TR">Taux Rente </label>
                              <input type="text"  class="form-control" id="TR" placeholder="  ">
                            </div>
                            <div class="col-md-6 mb-3">
                              <label for="SJ">Salaire De Jugement</label>
                              <input type="text"  class="form-control" id="SJ" placeholder="  ">
                            </div>
                            <div class="col-md-6 mb-3">
                              <label for="Sr">Salaire Retenu</label>
                              <input type="text"  class="form-control" id="Sr" placeholder="  ">




                            </div>






                            <ul class="list-group">
                              <li class="card-header card-header-danger">  <B>Rente Annuelle</B></li>
                              <li class="list-group-item">
                                <div class="row" >
                                  <div class="col-md-6 mb-3">
                                    <label for="Ra">Rente Annuelle </label>
                                    <input type="text"  class="form-control" id="Ra" placeholder="  ">
                                  </div>

                                  <div class="col-md-6 mb-3">
                                    <label for="Decision">Decision</label>
                                    <input type="text"  class="form-control" id="Decision" placeholder="  ">
                                  </div>

                                  <div class="row">
                                    <div class="col-md-4 mb-3">
                                      <label for="freq-paie">Fraiquence Paiement </label>
                                      <input type="text"  class="form-control" id="freq-paie" placeholder="">
                                    </div>
                                      <div class="col-md-4 mb-3">
                                        <label for="RM">Rente Mentielle </label>
                                        <input type="text"  class="form-control" id="RM" placeholder="">
                                      </div>

                                        <div class="col-md-4 mb-3">
                                          <label for="MC">Montant Capitale </label>
                                          <input type="text"  class="form-control" id="MC" placeholder="">
                                        </div>


                                      </div>






                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
              <div class="text-center">
                <button type="submit" class=" btn btn-danger"> Enregistrer les données</button>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-danger" routerLink="../typography">Retour</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
