
<div class="d-flex justify-content-center align-items-center container ">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="mb-3" style-color="red" >Liquider Dossier juridique</h4>
                            <p class="card-category"></p>
                        </div>
                        <br><br>
                    <div class="card-body">

                            <div class="card-body">

                                <form  [formGroup]="form" (ngSubmit)="onSubmit()"class="form-group"  >

                                    <ul class="list-group">
                                        <li class="card-header card-header-danger"><B>Assuré</B></li>
                                        <li class="list-group-item">

                                            <div class="row">
                                                <div class="col-md-4 mb-3">
                                                    <label >Caisse</label>
                                                    <select class="custom-select d-block w-100"  required>
                                                        <option value="">CNSS</option>
                                                        <option >CNRPS</option>
                                                    </select></div>


                                                <div class="col-md-4 mb-3">
                                                    <label >Matricule</label>
                                                    <input type="text" class="d-lg-table-row"id="matr" name="matr" [(ngModel)]="form.matr" #matr="ngModel"/>

                                                </div>


                                                <div class="col-md-4 mb-3">
                                                    <label >Cle</label>
                                                    <input type="text" class="d-lg-table-row"id="cle" (keyup.enter) = onSubmit1() name="cle" [(ngModel)]="form.cle" #cle="ngModel"/>

                                                </div>



                                            </div>
                                            
                                        <div class="d-flex justify-content-center align-items-center container ">


                                            <button class=" btn btn-danger" (click)="openDialog()">Réference Dossier</button>
    </div>

                                    <div class="row" >
                                        <div class="col-md-12 mb-3">
                                            <label for="Nom">Nom</label>
                                            <input type="text" class="form-control"  id="Nom" placeholder="" value="" required >
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label for="prenom">Prenom</label>
                                            <input type="text"  class="form-control" id="prenom" placeholder="" value="" required >

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="date-naiss">Date-Naissance </label>
                                            <input type="text"  class="form-control" id="date-naiss" placeholder=" jj //mm //Ann ">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="country">Nationnalité</label>
                                            <select class="custom-select d-block w-100" id="country" required>
                                                <option value="">Tunisie </option>
                                                <option value="">Algérie </option>
                                                <option value="">Libien </option>
                                                <option value="">Maroc </option>
                                                <option value="">Eygept </option>

                                            </select>
                                        </div>

                                    </div>


                                    <div class="row"></div>

                                    <div class="mb-3">
                                        <label for="address">Address</label>
                                        <input type="text"   class="form-control" id="address" placeholder=" " required>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="date-acc">Date-Accident </label>
                                            <input type="text"  class="form-control" id="date-acc" placeholder=" jj //mm //Ann ">
                                        </div>

                                        <div class="col-md-4 mb-3">
                                            <label for="heure">Heure </label>
                                            <input type="text"  class="form-control" id="heure" placeholder=" hh:mm ">
                                        </div>


                                        <div class="col-md-6 mb-3">
                                            <label for="tydec">Type Déclaration </label>
                                            <input type="text"  class="form-control" id="tydec" placeholder=" ">
                                        </div>

                                        <ul class="list-group">
                                            <li class="card-header card-header-danger"><B>Salaire</B></li>
                                            <li class="list-group-item">
                                                <div class="row" >
                                                    <div class="col-md-6 mb-3">
                                                        <label for="datejuj">Date D'effet Juj </label>
                                                        <input type="text"  class="form-control" id="datejuj" placeholder="jj //mm //Ann  ">
                                                    </div>

                                                        <div class="col-md-4 mb-3">
                                                            <label >Faute Grave Vict </label>
                                                            <select class="custom-select d-block w-100"  id="FGV" required>
                                                                <option>OUI</option>
                                                                <option >NON</option>
                                                            </select></div>

                                                        <div class="row">
                                                            <div class="col-md-4 mb-3">
                                                                <label >Asstierce TP</label>
                                                                <select class="custom-select d-block w-100" id="ASS-TP" required>
                                                                    <option>OUI</option>
                                                                    <option >NON</option>
                                                                </select></div>

                                                           
                                                            <div class="col-md-6 mb-3">
                                                            <label for="TJ">Taux Juj</label>
                                                            <input type="number"  class="form-control" id="TJ" placeholder="  " formControlName="taux_de_jug"
                                                            (input)="change_taux_rente()">
                                                            <div *ngIf="submitted && f.taux_de_jug.errors" class="text-lowercase text-danger h6">
                                                                <div *ngIf="f.taux_de_jug.errors.required"> Le champ Taux de jugement est obligatoire.</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <label for="TR">Taux Rente </label>
                                                            <input type="number"  class="form-control" id="TR" placeholder="  " formControlName="taux_de_rente" disabled>
                                                            <div *ngIf="submitted && f.taux_de_rente.errors" class="text-lowercase text-danger h6">
                                                                <div *ngIf="f.taux_de_rente.errors.required"> Le champ Taux de rente est obligatoire.</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <label for="SJ">Salaire De Jugement</label>
                                                            <input type="number"  class="form-control" id="SJ" placeholder="  " formControlName="salaire_de_jug"
                                                            (input)="change_salaire_retenu()">
                                                            <div *ngIf="submitted && f.salaire_de_jug.errors" class="text-lowercase text-danger h6">
                                                                <div *ngIf="f.salaire_de_jug.errors.required"> Le champ salaire de jugement est obligatoire.</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <label for="Sr">Salaire Retenu</label>
                                                            <input type="number"  class="form-control" id="Sr" placeholder="  " formControlName="salaire_retenu" disabled>
                                                            <div *ngIf="submitted && f.salaire_retenu.errors" class="text-lowercase text-danger h6">
                                                                <div *ngIf="f.salaire_retenu.errors.required"> Le champ salaire retenu est obligatoire.</div>
                                                            </div> 
                                                        </div>






                                                        <ul class="list-group">
                                                            <li class="card-header card-header-danger">  <B>Rente Annuelle</B></li>
                                                            <li class="list-group-item">
                                                                <div class="row" >
                                                                    <div class="col-md-6 mb-3">
                                                                        <label for="Ra">Rente Annuelle </label>
                                                                        <input type="text"  class="form-control" id="Ra" placehmodelolder="  " formControlName="rente_annuel" disabled (change)="rente_ment()">
                                                                    </div>
                                                                    <div class="col-md-6 mb-3">
                                                                            <label for="Sr">Taux IPP </label>
                                                                            <input type="number"  class="form-control" id="Sr" placeholder="  " formControlName="taux_ipp" (input)="change_decision()">
                                                                            <div *ngIf="submitted && f.taux_ipp.errors" class="text-lowercase text-danger h6">
                                                                                <div *ngIf="f.taux_ipp.errors.required"> Le champ taux IPP est obligatoire.</div>
                                                                            </div> 
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <label >Decision </label>
                                                                        <input type="text"  class="form-control" id="Sr" placeholder="  " formControlName="decision" >
                                                                        <!-- <select class="custom-select d-block w-100"  id="Decision" required>
                                                                            <option [selected]="false != false">Capital</option>
                                                                            <option [selected]="true == true">Rente</option>
                                                                        </select> -->
                                                                    </div>


                                                                    <div class="row">



                                                                        <div class="col-md-3 ">
                                                                            <label >Fraiquence Paiement </label>
                                                                            <select class="custom-select d-block w-100"  id="freq-paie" formControlName="frequence" (change)="rente_ment()">
                                                                                <option value="trimestriel">Trimestriel</option>
                                                                                <option value="mentielle">Mentielle</option>
                                                                            </select>
                                                                        </div>


                                                                        <div [hidden]="show_rente == true " class="col-md-4 mb-3">
                                                                                <label for="RM">Rente Mentielle </label>
                                                                                <input type="text"  class="form-control" id="RM" placeholder="" formControlName="rente_ment">
                                                                        </div>

                                                                        <div [hidden]="show_rente == true" class="col-md-4 mb-3">
                                                                                    <label for="MC">Montant Capitale </label>
                                                                                    <input type="text"  class="form-control" id="MC" placeholder="" formControlName="mentant_capital">
                                                                        </div>
                                                                     </div>






                                                                </div>
                                        </li>
                                                        </ul>
                           </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <div class="text-center">
                                <button type="submit" class=" btn btn-danger"> Enregistrer les données</button>
                            </div>
                            <div class="text-center">
                            <button type="button" class="btn btn-danger" routerLink="../typography">Retour</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
