<div class="main-content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">


                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="https://www.jawharafm.net/fr/imageResize/resize/francais_image2_29208_1445851763.jpg/630/353/20-des-accidents-de-travail-sont-enregistres-a-sfax.jpg" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="https://media.shemsfm.net/uploads/content/big/1553688892_content.jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="https://larchedegloire.com/wp-content/uploads/2015/09/jugement-de-valeur-1000x500.jpg" alt="Third slide">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div></div>


