<div class="d-flex justify-content-center align-items-center container ">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="mb-3" style-color="red" >Consultation Dossier Jugement</h4>
                            <p class="card-category"></p>
                        </div>
                        <br><br>

                            <div class="card-body">
                            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>


                                <ul class="list-group">
                                    <li class="list-group-item">

                                        <div class="row">

                                            <div class="col-md-4">
                                                <label >bureau</label>
                                                <input type="text" class="d-lg-table-row   "id="br" name="br" [(ngModel)]="form.matr" #matr="ngModel"/>

                                            </div>


                                            <div class="col-md-4 ">
                                                <label >Numero Dossiers</label>
                                                <input type="text" class="d-lg-table-row"id="num_doss"  name="num_doss" [(ngModel)]="form.num_doss" #num_doss="ngModel"/>
                                               
                                            </div>


                                            <div class="col-md-4 ">
                                                <label >Annee Dossiers</label>
                                                <input type="text" class="d-lg-table-row"id="annee_doss"  name="annee_doss" [(ngModel)]="form.annee_doss" #annee_doss="ngModel"/>
                                               
                                            </div>

                                        </div>
<br>
                                        <div class="row" >  
                                  <div class="col-md-12 mb-3">
                                                    <label >matricule Assuré </label>
                                                    <input type="text" class="form-control" id="numcin" disabled="true" placeholder="01234567">
                                                </div>
                                            </div>
                                            <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <label for="Nom">Nom Assuré</label>
                                                <input type="text" class="form-control"  id="Nom" placeholder="" disabled="true" required >
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <label for="prenom">Prénom Assuré</label>
                                                <input type="text"  class="form-control" id="prenom" placeholder="" disabled="true" required >
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-12 mb-3">
                                                        <label for="date_acc">Date-Accident </label>
                                                        <input type="text"  class="form-control" id="date_acc" disabled="true"  value="{{date_accident}}" placeholder=" jj //mm //Ann" name="date_acc"  >
                                                    </div>
                                        </div>
                                        </li>
                                        </ul>
                                        </form>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        