<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title"> Interface Dossiers Juridiques</h4>
                      <p class="card-category"></p>
                  </div>
                 <br>

                          <button mat-raised-button type="button" class="btn-dark" routerLink="/saisidoss">Saisie Dossier</button>
                          <div class="clearfix"></div>
                  <br>
                      <button mat-raised-button type="submit" class="btn-dark" routerLink="/modifdoss">modifier dossier</button>
                      <div class="clearfix"></div>
                  <br>
                  <button mat-raised-button type="submit" class="btn-dark"routerLink="/valid-doss" >valider dossier</button>
                      <div class="clearfix"></div>
                  </div>
              </div>
          </div>

</div>
      </div>


